:root{
    --primary-color: rgb(173, 78, 0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    background-color: antiquewhite;


}

.exchange-image{
    width: 25%;
    margin-bottom: 30px;
}

.tagline{
    margin-top:5px;
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
}
h1{
    font-size: 48px;
    text-align: center;
}
@media (max-width: 678px) {
    h1{
        font-size: 32px;
        text-align: center;
    }

    .tagline{
        /* margin-bottom: 30px; */
        font-size: 18px;
        text-align: center;
    }
}

@media (max-width: 462px) {
    h1{
        font-size: 24px;
    }

    .tagline{
        font-size: 16px;
    }
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.swap-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px 0 ;
    padding: 8px 18px;
    
}

#swap-btn{
    outline: none;
    border-radius: 5px;
    padding: 8px 22px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    box-shadow: 6px 6px 7px rgba(88, 50, 0, 0.4);

    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;

}



select{
    padding: 10px 20px;
    border-radius: 8px;
    background-color: transparent;
    border: transparent;
    border: 2px solid rgba(122, 91, 50, 0.3);


    font-family:monospace;
    font-size: 16px;
    color: #131313;
    width: 120px;

}

input{
    outline: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: transparent;
    border: none;

    font-family:monospace;
    font-size: 16px;
    color: #131313;
    text-align: end;

    /* border: 2px solid burlywood; */
    /* width: 50%; */
}

@media (max-width: 425px) {
    input{
        text-align: start;
        margin-top: 10px;
    }


    .swap-div{
    margin-bottom: 48px;

    }

}